### Objetivo do Desafio

Utilizar a base histórica fictícia fornecida para projetar os seguintes indicadores por loja e por mês, no período de julho/2024 a junho/2025:

1. Diárias Locadas
2. Diária Média

### Sobre a Base de Dados

A base fornecida contém registros simulados de contratos de locação com as seguintes colunas:

* id_contrato
* data_inicio_locacao
* duracao_locacao (dias)
* id_loja
* cidade, estado
* dias_antecedencia (entre reserva e início locação)
* categoria_veiculo
* diaria_media
* valor_total_locacao (diaria_media x duração_locacao)

### Etapas Esperadas

Você deve realizar todas as etapas do pipeline de ciência de dados:

1. Análise Exploratória dos Dados: Análise do contexto e das variáveis, identificação de tendências, padrões sazonais e diferenças entre lojas, categorias e preços.

2. Análise Descritiva

3. Modelagem Preditiva:

    * Utilize pelo menos 4 modelos diferentes para previsão dos dois indicadores (ex.: regressão linear, ARIMA/Prophet, Random Forest, XGBoost, LSTM, etc).
    * Avalie os modelos com métricas apropriadas: RMSE, MAE, MAPE.
    * Explique as diferenças entre os modelos e suas vantagens/desvantagens.
    * Use validação apropriada (ex.: backtesting)
    * Pode apresentar graficamente as curvas e intervalos de confiança.

4. Interpretação e Insights: Destaque quais variáveis mais influenciam os resultados. Mostre comparações entre os modelos e recomende qual usar.

### Entrega Esperada

1. Notebook com todas as etapas comentadas: análise, preparação, modelagem e previsão.

2. Apresentação executiva (PDF ou slides).

In [ ]:
# Imports

import pandas as pd
import subprocess
import os

In [2]:
# Data Reading

df = pd.read_excel("../data/Desafio Inteligência (Cientista de Dados).xlsx")

In [ ]:
# Data Processing
# Limpeza dos dados

df.categoria_veiculo = df.categoria_veiculo.replace(
    {"IntermediÃ¡rio": "Intermediário", "EconÃ´mico": "Econômico"}
)

for column_name in df.columns:
    if "Unnamed" in column_name:
        df.drop(column_name, axis=1, inplace=True)

# Column Names

numerical_columns = [
    "duracao_locacao",
    "dias_antecedencia",
    "diaria_media",
    "valor_total_locacao",
]
categorical_columns = [
    "estado",
    "cidade",
    "id_loja",
    "id_contrato",
    "categoria_veiculo",
]

### Variáveis Relevantes

* Dados Categóricos:
    * id_loja
    * id_contrato
    * categoria_veiculo

* Dados Temporais:
    * data_inicio_locacao

* Dados Numéricos
    * duracao_locacao
    * dias_antecedencia
    * diaria_media
    * valor_total_locacao

As variáveis estado e cidade foram desconsideradas, devido a inconsistência dos dados.

In [ ]:
# Export Data
# Excluindo colunas desnecessárias para visualização de dados no dashboard

df.drop(["cidade", "estado"], axis=1, inplace=True)
df.id_loja = df.id_loja.str.replace("_", " ")

display(df.head())

df.to_excel("../data/edited_dataset.xlsx")

,id_contrato,data_inicio_locacao,duracao_locacao,id_loja,dias_antecedencia,categoria_veiculo,diaria_media,valor_total_locacao
0,CTR0000001,2022-01-27,8,LJ 01,13,Econômico,91.22,729.76
1,CTR0000002,2022-01-31,9,LJ 01,9,Intermediário,78.70,708.30
2,CTR0000003,2022-01-10,7,LJ 01,16,SUV,143.14,1001.98
3,CTR0000004,2022-01-28,7,LJ 01,4,Intermediário,135.86,951.02
4,CTR0000005,2022-01-28,9,LJ 01,9,Intermediário,104.02,936.18

In [ ]:
# Dashboard Execution


def run_streamlit_dashboard(script_path):
    try:
        script_dir = os.path.dirname(script_path)
        script_name = os.path.basename(script_path)

        print(f"Iniciando o dashboard Streamlit em http://localhost:8501")

        command = ["streamlit", "run", script_name]
        process = subprocess.Popen(
            command,
            cwd=script_dir,
            stdout=subprocess.PIPE,
            stderr=subprocess.PIPE,
            text=True,
        )

        return process

    except FileNotFoundError:
        print(
            "Erro: Streamlit não encontrado. Certifique-se de que está instalado e no PATH."
        )
    except Exception as e:
        print(f"Ocorreu um erro: {e}")


dashboard_path = "../src/dashboard.py"
streamlit_process = run_streamlit_dashboard(dashboard_path)

Iniciando o dashboard Streamlit em http://localhost:8501

In [6]:
# Closes Dashboard

streamlit_process.terminate()